- var pageName = page.metaTitle || page.title || metaTitle
- var pageTitle = page.metaTitle ? page.metaTitle : (page.title ? page.title + ' / ' + authorName : metaTitle)
- var pageDescription = page.metaDescription || metaDescription
- var pageImage = page.image || authorImage
- var pageUrl = url + page.url

doctype html
html(lang='en-gb')
  head
    meta(charset='utf-8')
    title= pageTitle
    meta(name='viewport', content='initial-scale=1')
    style: include ../_css/index.css
    meta(name='description', content=pageDescription)
    meta(name='author', content=authorName)
    link(rel='canonical', href=pageUrl)
    link(rel='alternate', type='application/rss+xml', title='Feed / #{metaTitle}', href='/feed.xml')
    link(rel='author', href=authorUrl)
    link(rel='source', href='https://github.com/benedfit/benedfit.github.io')
    each size in [57, 60, 72, 76, 114, 120, 144, 152]
      link(rel='apple-touch-icon', href='/img/apple-touch-icon-#{size}x#{size}.png', sizes='#{size}x#{size}')
    each size in [16, 32, 96, 160, 196]
      link(rel='icon', type='image/png', href='/img/favicon-#{size}x#{size}.png', sizes='#{size}x#{size}')
    <!--[if IE]><link rel='shortcut icon' type='image/x-icon' href='/favicon.ico')<![endif]-->
    meta(name='msapplication-TileColor', content=metaTileColor)
    meta(name='msapplication-TileImage', content='/img/mstile-144x144.png')
    meta(itemprop='name', content=pageName)
    meta(itemprop='description', content=pageDescription)
    meta(itemprop='image', content=pageImage)
    meta(property='og:url', content=pageUrl)
    meta(property='og:type', content=page.ogtype || 'website')
    meta(property='og:site_name', content=domain)
    meta(property='og:title', content=pageName)
    meta(property='og:description', content=pageDescription)
    meta(property='og:image', content=pageImage)
    meta(property='og:updated_time', content=time.format())
    each tag in ['admins', 'profile_id']
      meta(property='fb:#{tag}', content='100001139733853')
    if page.ogtype === 'article'
      meta(property='article:published_time', content=page.date.format())
      meta(property='article:modified_time', content=page.date.format())
      meta(property='article:author', content='#{url}/')
    else if page.ogtype === 'profile'
      - var authorNames = authorName.split(' ')
      meta(property='profile:first_name', content=authorNames[0])
      meta(property='profile:last_name', content=authorNames[1])
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@#{authorHandle}')
    meta(name='twitter:domain', content=domain)
    meta(name='twitter:title', content=pageName)
    meta(name='twitter:description', content=pageDescription)
    meta(name='twitter:creator', content='@#{authorHandle}')
    meta(name='twitter:image', content=pageImage)
    if page.noindex
      meta(name='robots', content='noindex,nofollow')
  body
    include ./includes/header

    if page.ogtype === 'profile'
      include ./includes/about

    .content(role='main')
      .container
        block contents
          != contents

    include ./includes/footer

    script
      :uglify-js
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga')

        ga('create', 'UA-34470231-1', 'auto')
        ga('send', 'pageview')
