- var year = time.format('YYYY')
.footer.h-card(role='contentinfo')
  span &copy; #{year}
  | 
  a.u-url(href=url + '/', rel='me') #{authorName}
  .hidden
    img.u-photo(src=authorImage)
    span.p-note= metaDescription
  | 

  each page in pages
    if page.inmenu
      a(href=page.url)= page.title
      | 

  a.u-email(href='mailto:' + authorEmail, rel='me')= authorEmail
  | 
  a(href='https://twitter.com/' + authorHandle, rel='me') Twitter
  | 
  a(href='https://github.com/' + authorHandle + '/', rel='me') GitHub
  | 
  a(href='https://codepen.io/'+ authorHandle + '/', rel='me') CodePen
