mixin title
  a(href=page.url, rel='bookmark')= page.title

mixin date
  - var year = page.date.getFullYear()
  - var month = page.date.getMonth()
  - var monthName = 'month name TBC'
  - var day = 'day TBC'
  time(datetime='{{ page.date | date_to_xmlschema  }}')
    a(href='/#{year}/#{month}', rel='directory')= monthName
    | &nbsp;#{day},&nbsp;
    a(href="/#{year}/", rel='directory')= year

if full
  h1
    +title
    +date
  != page.content
else
  article
    h2
      +title
      +date
    | {{ page.excerpt | markdownify }}
    a.ellipsis(href=page.url)
      span(aria-hidden='false') Read more