mixin title
  a(href=page.url, rel='bookmark')= page.title
  | 

mixin date
  -
    var utc = page.date.format()
      , year = page.date.format('YYYY')
      , month = page.date.format('MM')
      , monthName = page.date.format('MMMM')
      , day = page.date.format('D')
  small
    time(datetime=utc)
      a(href='/' + year + '/' + month + '/', rel='directory')
        span.hidden View archive for&nbsp;
        | #{monthName}
        span.hidden &nbsp;#{year}
      | &nbsp;#{day},&nbsp;
      a(href='/' + year + '/', rel='directory')
        span.hidden View archive for&nbsp;
        | #{year}

if full
  h1
    +title
    +date
  article
    != contents
else
  article
    h2
      +title
      +date
    .excerpt
      != page.excerpt
      | &nbsp;
      a(href=page.url)
        mark Read&nbsp;more 
          span(aria-hidden='false') of #{page.title}
