mixin title
  a(href=page.url, rel='bookmark')= page.title
  | 

mixin date
  - var utc = page.date.format()
  - var year = page.date.format('YYYY')
  - var month = page.date.format('MM')
  - var monthName = page.date.format('MMMM')
  - var day = page.date.format('D')
  small
    time(datetime=utc)
      a(href='/#{year}/#{month}/', rel='directory') #[span.hidden View archive for&nbsp;]#{monthName}#[span.hidden &nbsp;#{year}]
      | &nbsp;#{day},&nbsp;
      a(href='/#{year}/', rel='directory') #[span.hidden View archive for&nbsp;]#{year}

if full
  h1
    +title
    +date
  != contents
else
  article
    h2
      +title
      +date
    div!= page.excerpt
    a.ellipsis(href=page.url)
      span(aria-hidden='false') Read more of #{page.title}
